/build
/hymnchtv/src/main/assets/lyrics_bb_score
/hymnchtv/src/main/assets/lyrics_db_score
/hymnchtv/src/main/assets/lyrics_er_score
/hymnchtv/src/main/assets/lyrics_xb_score
/hymnchtv/src/main/assets/lyrics_bbs_text
/hymnchtv/src/main/assets/lyrics_dbs_text
/hymnchtv/src/main/assets/lyrics_er_text
/hymnchtv/src/main/assets/lyrics_xb_text
./setting.signing
